@import "../../App.scss";

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: $primary-color;
  color: $secondary-color;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  z-index: 9999;
  border-radius: 0 0 4px 0;
  transition: top 0.3s ease;

  &:focus {
    top: 0;
    outline: 3px solid $secondary-color;
    outline-offset: 2px;
  }
}
