@import "../../App.scss";

.thumbnail-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin-top: 150px;
  margin: 150px 7.5px 75px 7.5px;
}
