@import "../../App.scss";

.dropdown-button {
  position: fixed;
  top: 6%;
  left: 4%;
  height: 35px;
  width: 35px;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: slideInLeft 0.5s ease-out;
  background: url("../../assets/DDButton.png") no-repeat center;
  background-size: contain;
  border: none;
  padding: 0;
  
  &:hover {
    transform: scale(1.15) rotate(-10deg);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
  }
  
  &:active {
    transform: scale(0.9);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// Closed sidebar

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  width: 0px;
  z-index: 110;
}

// Active sidebar

.sidebar-active {
  transition: all 0.3s ease;
  width: 300px;
  background-color: $primary-color;
  opacity: 0.95;
}

.sidebar-active .dropdown-button {
  display: none;
}

.sidebar-active .close-button {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: url("../../assets/close.svg") no-repeat center;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  
  &:hover {
    transform: scale(1.2) rotate(90deg);
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.3));
  }
  
  &:active {
    transform: scale(0.9) rotate(90deg);
  }
}

.sidebar-active .nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 40px;
  align-items: left;
}

.sidebar-active .link-name {
  color: $secondary-color;
  font-size: $p-font-size;
  text-transform: lowercase;
  position: relative;
}

.sidebar-active .link-name::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  bottom: -2px;
  left: 0;
  background: $secondary-color;
  transition: all 0.25s ease;
}

.sidebar-active .link-name:hover::after {
  width: 100%;
}

.sidebar-active li {
  margin-bottom: 10px;
}

// mobile display

@media screen and (max-width: 425px) {
  .sidebar-active {
    width: 100%;
  }
}
