@import "../../App.scss";

.top-to-btm {
  position: relative;
}

.icon-position {
  position: fixed;
  bottom: 6%;
  right: 4%;
  z-index: 20;
  animation: slideInRight 0.5s ease-out;
}

.icon-style {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, .6);
  color: $primary-color;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 23px;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 2px;

  &:hover {
    transform: translateY(-5px) scale(1.1);
    background-color: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  }
  
  &:active {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
